[Unit]
Description=Virtual Media Service
After=dbus.service

[Service]
ExecStart=@MESON_INSTALL_PREFIX@/bin/virtual-media
RuntimeDirectory=virtual-media
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
